spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ss_dev
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ss_dev_user
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: mysql
    show-sql: true
    #    properties:
    #      javax:
    #        persistence:
    #          schema-generation:
    #            create-source: metadata
    #            scripts:
    #              action: create
    #              create-target: guru_database_create.sql
